.info__wrap {
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h1,
  h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1.72em;
  }
  font: 21px/1.58 Geneva, Arial, Helvetica, sans-serif;
}
.info__header {
  font-size: 34px;
  text-align: center;
}
.info__body {
  max-width: 728px;
}
