.nav__height {
  min-height: 80px;
}
.nav__brand {
  color: white;
  transition:all .2s linear;
  &:hover{
    color:#007bff !important;
  }
}
.links__wrap {
  width: 200px;
  display: flex;
  justify-content: space-around;
  .mobile {
    width: 100%;
    flex-direction: column;
  }
}

.link {
  transition: all 0.2s linear;
  font-size: 20px;
  &:hover {
    text-decoration: none;
  }
}
