.nav__wrap {
  height:80px;
  justify-content:flex-start;
}
.nav__links {
  display: flex;
  width:300px;
  margin-right:10px;
  justify-content: space-around;
}
.link {
  transition: all .2s linear;
  font-size:20px;
  &:hover {
    text-decoration: none;
  }
}
