/* LEXICAL CARD */
.lexical__wrap {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  user-select: none;
}
.lexical__card {
  width: 100%;
  padding: 20px;
  min-height: 250px;
  transition: all 0.2s linear;
  cursor:pointer;
  &:hover {
    opacity: 0.9;
    background-color: white !important;
  }
}

